.pageWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.formContainer {
  margin: 0 auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
