.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 335px;
}

.authInput {
  min-height: 48px;
}

.tabs {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.title {
  padding: 0;
  width: 167.5px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  position: relative;
  cursor: pointer;
}

.title.active::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-scheme-1-border);
}

.loginTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.loginData {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.loginSepData {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 480px;
  }

  .title {
    width: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .loginTitle {
    font-size: 48px;
  }
}
