/* Reset */
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* variables */
:root {
  --text-main-color: #000;
  --text-placeholder-color: rgba(0, 0, 0, 0.6);
  --background-main: #f3f9ed;
  --background-secondary: #c5e1a5;
  --background-third: #f9fcf6;
  --color-red: #9d0000;
  --color-white: #fff;
  --color-black: #000;
  --border-bottom-color: rgba(0, 0, 0, 0.15);
  --btn-main-background: var(--background-secondary);
  --btn-main-border-color: var(--background-secondary);
  --btn-secondary-background: rgba(0, 0, 0, 0.05);
  --btn-secondary-border-color: rgba(255, 255, 255, 0);
  --btn-hover-main-background: #9db484;
  --btn-hover-main-border-color: #4e5a42;
  --btn-hover-secondary-background: rgba(0, 0, 0, 0.15);
  --btn-hover-secondary-border-color: rgba(0, 0, 0, 0.5);
  --btn-active-main-background: #3b4331;
  --btn-active-main-border-color: var(--background-secondary);
  --btn-active-secondary-background: var(--btn-hover-secondary-border-color);
  --btn-active-secondary-border-color: var(--btn-secondary-border-color);
  --btn-disabled-main-background: var(--background-secondary);
  --btn-disabled-main-border-color: var(--background-secondary);
  --btn-disabled-secondary-background: var(--btn-secondary-background);
  --btn-disabled-secondary-border-color: var(--btn-secondary-border-color);
}

.btn-primary {
  background-color: var(--background-secondary);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-secondary);
  border-radius: 100px;
  padding: 6px 12px;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-main-background);
  border-color: var(--background-main);
}
.btn-primary:active {
  background-color: var(--btn-active-main-background);
  border-color: var(--btn-active-main-border-color);
  color: var(--color-white);
}
.btn-primary:disabled {
  background-color: var(--btn-disabled-main-background);
  border-color: var(--btn-disabled-main-border-color);
  cursor: not-allowed;
  opacity: 0.4;
}
.btn-secondary {
  background-color: var(--btn-secondary-background);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--btn-secondary-border-color);
  border-radius: 100px;
  padding: 6px 12px;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--btn-hover-secondary-background);
  border-color: var(--btn-hover-secondary-border-color);
}
.btn-secondary:active {
  background-color: var(--btn-active-secondary-background);
  border-color: var(--btn-active-secondary-border-color);
  color: var(--color-white);
}
.btn-secondary:disabled {
  background-color: var(--btn-disabled-secondary-background);
  border-color: var(--btn-disabled-secondary-border-color);
  cursor: not-allowed;
  opacity: 0.4;
}

/* main settings */
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-main-color);
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--background);
}
a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
