@import url('modern-normalize/modern-normalize.css');
/* Reset */
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button,
input,
select,
textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* global styles */

/* figma style variables */
:root {
  --color-scheme-1-background: var(--color-deco-lightest);
  --color-neutral-darkest: #000;
  --color-scheme-1-border: var(--opacity-neutral-darkest-20);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-deco-lighter);
  --color-scheme-1-accent: var(--color-deco);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --color-deco-lightest: #f9fcf6;
  --color-deco-lighter: #f3f9ed;
  --color-deco-light: #d6eac0;
  --color-deco: #c5e1a5;
  --color-deco-dark: #9db484;
  --color-deco-darker: #4e5a42;
  --color-deco-darkest: #3b4331;
  --color-scheme-2-text: var(--color-white);
  --color-scheme-2-background: var(--color-neutral-darker);
  --color-scheme-2-border: var(--opacity-white-20);
  --color-scheme-2-accent: var(--color-deco);
  --color-scheme-2-foreground: var(--color-neutral-darkest);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-white);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-scheme-4-text: var(--color-neutral-darkest);
  --color-scheme-4-background: var(--color-deco-lighter);
  --color-scheme-4-border: var(--opacity-neutral-darkest-15);
  --color-scheme-4-accent: var(--color-neutral-darkest);
  --color-scheme-4-foreground: var(--color-deco-lightest);
  --color-scheme-5-text: var(--color-neutral-darkest);
  --color-scheme-5-background: var(--color-deco-light);
  --color-scheme-5-border: var(--opacity-neutral-darkest-15);
  --color-scheme-5-accent: var(--color-neutral-darkest);
  --color-scheme-5-foreground: var(--color-deco);
  --color-scheme-6-text: var(--color-neutral-darkest);
  --color-scheme-6-background: var(--color-deco);
  --color-scheme-6-border: var(--opacity-neutral-darkest-15);
  --color-scheme-6-accent: var(--color-neutral-darkest);
  --color-scheme-6-foreground: var(--color-deco-dark);
  --color-red: #9d0000;
}

/* figma fonts used */
:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Nunito Sans', sans-serif;
}

/* main settings */
html {
  scroll-behavior: smooth;
  min-width: fit-content; /*so site doesn't break below 375px*/
}

html,
body {
  font-family: var(--font-family);
  color: var(--color-scheme-4-text);
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-scheme-4-background);
}

.altBg {
  background: var(--color-scheme-1-background);
}

a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* global element styles */

/* container */
/* Styles for Mobile */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
section {
  padding: 64px 0;
}
/* Styles for Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for PC */
@media only screen and (min-width: 1440px) {
  section {
    padding: 112px 0;
  }
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
/* modal window */
.backdrop {
  position: fixed;
  inset: 0;
  background: var(--opacity-neutral-darkest-40);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: #fff;
  border-radius: 16px;
  padding: 40px 20px;
  width: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* ==================================================================== */
Footer.mychanges.null {
  .inputSubscribe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
  }

  .input {
    flex-grow: 1;
    width: 195px; /* can't do min/max cuz flex-grow */
    /* min-width: 195px; */
    /* max-width: 100%; */
    max-height: 40px;
    /* padding: 8px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    color: #000;
  }

  .input:focus,
  .input:hover {
    border: 1px solid #3b4331;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  .button {
    min-width: 124px;
    /* padding: 8px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #000;
  }
}
/* ==================================================================== */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 6px 12px;
  border-radius: 100px;
  color: var(--color-neutral-darkest);
  font-weight: 500;
}

.btn-circle {
  padding: 6px;
}

.btn:disabled {
  opacity: 0.4;
}

.btn-primary {
  border: 1px solid var(--color-deco);
  background: var(--color-deco);
}
.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid var(--color-deco-darker);
  background: var(--color-deco-dark);
}
.btn-primary:active {
  background: var(--color-deco-darkest);
  color: var(--color-white);
}

.btn-secondary {
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-5);
}
.btn-secondary:hover,
.btn-secondary:focus {
  border: 1px solid var(--opacity-neutral-darkest-50);
  background: var(--opacity-neutral-darkest-15);
}
.btn-secondary:active {
  background: var(--opacity-neutral-darkest-50);
}

/* links */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  /* height: 24px; */
}
.link:hover,
.link:focus {
  border-bottom: 1px solid var(--color-neutral-darkest);
}
.link:active {
  border-bottom: 1px solid var(--color-deco-darker);
}
.link:disabled {
  opacity: 0.3;
}

/* inputs */
select,
input {
  max-height: 40px;
}
select,
input,
textarea {
  background: var(--opacity-transparent);
  color: var(--color-scheme-1-text);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 16px;
  padding: 8px;
  /* min-width: 100%; */
  outline: none;
}
input:focus,
textarea:focus {
  /* border: 1px solid var(--color-scheme-1-accent); */
  border: 1px solid var(--color-deco-darkest);
}
input::placeholder,
textarea::placeholder {
  color: var(--opacity-neutral-darkest-60);
}
.input-error {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.error-text {
  color: var(--color-red);
  font-size: 12px;
}

/* arrows */
.arrow {
  fill: var(--color-scheme-1-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-scheme-1-background);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-5-foreground);
}
.arrow:hover,
.arrow:focus {
  border: 1px solid var(--color-deco-darker);
}
.arrow:active {
  fill: var(--color-white);
  border: 1px solid var(--color-deco);
}
.arrow:disabled {
  opacity: 0.3;
}
