.mobileOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 72px;
  /* inset: 0; */
  background: var(--color-deco-light);
  z-index: 60;
  display: flex;
  flex-direction: column;
  animation: fadeIn 220ms ease;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 40px;
  padding-bottom: 64px;
}
.mobileNavLink {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.mobileNavLink:hover,
.mobileNavLink:focus {
  font-weight: 500;
  color: var(--color-neutral-darkest);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.mobileNavLink:active {
  color: var(--color-deco-dark);
  text-decoration: underline;
}

.mobileActions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 0 20px;
}
.mobileActionLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  height: 36px;
  padding: 6px 12px;
  background: var(--opacity-neutral-darkest-5);
  color: var(--color-neutral-darkest);
  text-decoration: none;
}
.mobileActionLogin:hover,
.mobileActionLogin:focus {
  background: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50);
}

.mobileActionLogin:active {
  background: var(--opacity-neutral-darkest-50);
  color: var(--color-white);
}
.mobileActionRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  height: 36px;
  padding: 6px 12px;
  background: var(--color-deco);
  color: var(--color-neutral-darkest);
  text-decoration: none;
}
.mobileActionRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  height: 36px;
  padding: 6px 12px;
  background: var(--color-deco);
  color: var(--color-neutral-darkest);
  text-decoration: none;
}

.mobileActionRegister:hover,
.mobileActionRegister:focus {
  background: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

.mobileActionRegister:active {
  background: var(--color-deco-darkest);
  color: var(--color-white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .mobileOverlay {
    display: none;
  }
}
