.wrapInfo {
  width: 100%;
  background-color: var(--color-deco-light);
  border-radius: 16px;
  padding: 24px 16px;
}

.text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.button {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapInfo {
    padding: 24px 0;
  }
  .button {
    width: auto;
  }
}
