.backDrop {
  justify-content: end;
}

.modal {
  height: 100%;
  border-radius: 0;
  background: #fff;
 
  overflow: auto;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.basketBtn {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 552px;
    padding: 96px 32px;
  }

  .actions {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 590px;
    
  }
  .title {
    font-size: 48px;
  }
}
